/*************************************************
// BOUTONS
*************************************************/

.bouton,
.bouton:focus {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-right: 17px;
    padding-left: 17px;
    height: 37px;
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
    min-width: 200px;
    background-color: $sombre;
    border: 1px solid $sombre;
    border-radius: 100vmax;
    color: $blanc;
    transition: all .3s ease;
    
    &.float-right {
        float: right;

        @media screen and (max-width:$screen-md) {
            float: none;
        }
    }

    &:hover {

        @media screen and (min-width:$screen-md) {
            background-color: $blanc;
            color: $sombre;
            transition: all .3s ease;
        }
    }
}