/*************************************************
// COULEURS DU SITE
*************************************************/

$ciel: #d8f6f6;
$bleu: #00c1c1;
$sombre: #05303a;

$blanc: #ffffff;
$noir: #000000;
$gris: #7a8285;
$gris-dark: #171313;
$gris-light: #d5d5d5;

/*************************************************
// CLASS COLORS
*************************************************/

.blanc {
    color: $blanc !important;

    &-bg {
        background: $blanc;
        color: inherit !important;
    }
}

.gris {
    color: $gris !important;

    &-bg {
        background: $gris;
        color: inherit !important;
    }
}

.noir {
    color: $noir !important;

    &-bg {
        background: $noir;
        color: inherit !important;
    }
}

.ciel {
    color: $ciel !important;

    &-bg {
        background: $ciel;
        color: inherit !important;
    }
}

.bleu {
    color: $bleu !important;

    &-bg {
        background: $bleu;
        color: inherit !important;
    }
}

.sombre {
    color: $sombre !important;

    &-bg {
        background: $sombre;
        color: inherit !important;
    }
}
