/*************************************************
// STYLES DE CARATERES
*************************************************/

.paragr,
p {
    @include fluid-text(12px, 18px, 1.56, 991px, 1920px);
    font-family: $font;
    font-weight: $regular;
    text-align: left;
    color: $gris;
    margin: 0;

    strong {
        font-weight: $bold;
    }

    @media(max-width:$screen-md) {
        font-size: 18px;
    }
}

/*************************************************
// TITRES H1/H2/H3
*************************************************/


.h1 {
    margin: 0;
    font-family: $font;
    color: $bleu;
    font-weight: $semibold;
    @include fluid-text(35px, 55px, 1.15, 991px, 1920px);
    @include fluid-text(25px, 35px, 1.15, 320px, 390px);
}

.h2 {
    margin: 0;
    font-family: $font;
    color: $sombre;
    font-weight: $semibold;
    @include fluid-text(20px, 30px, 1.15, 991px, 1920px);
    @include fluid-text(15px, 25px, 1.15, 320px, 390px);
}

.h3 {}

.h4 {}
