.home {
    .p-nav {
        &.masked {
            .logo img {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    .p-header {
        &_bg {
            background-image: url("../img/home/header.jpg");
        }
        .flex {
            width: 520px;
            justify-content: space-between;
            @media screen and (max-width: $screen-md) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 5vh;
                width: 100%;
            }
            p {
                opacity: 0;
                transform: translateX(100px);
                animation: trans-opacity-left-header 1s ease 0.8s forwards;
                font-size: 20px;
                @media screen and (max-width: $screen-md) {
                    text-align: center;
                }
            }
            .logo {
                opacity: 0;
                transform: translateX(100px);
                animation: trans-opacity-left-header 1s ease 0.6s forwards;
            }
        }
        .dropdown-toggle {
            display: block;
            width: 100%;
            position: relative;
            margin-top: vw(80px);
            opacity: 0;
            transform: translateX(100px);
            animation: trans-opacity-left-header 1s ease 1s forwards;
            @media screen and (max-width: $screen-md) {
                margin-top: 7vh;
            }

            .dropdown-toggle-btn {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                justify-content: space-between;
                width: 520px;
                vertical-align: middle;
                transition: all 0.5s ease 0s;
                border: solid 1px $blanc;
                color: $blanc;
                font-size: 18px;
                height: 60px;
                max-height: 60px;
                padding: 0 33px 0 38px;
                cursor: pointer;
                position: relative;
                border-radius: 100vmax;
                @media screen and (max-width: $screen-md) {
                    width: 100%;
                }

                &:focus {
                    color: $blanc;
                    background: $noir;
                    border-color: $noir;
                }

                .icon-cursor {
                    @include icon(2rem);
                }
            }

            ul.dropdown {
                @include position(absolute, 2, 100%, 0, auto, 0);
                overflow: hidden;
                max-height: 0;
                transition: all 0.5s ease;
                width: 520px;
                margin-top: 16px;
                border-radius: 30px;
                border: 1px solid transparent;
                @media screen and (max-width: $screen-md) {
                    width: 100%;
                }

                li {
                    max-height: 0;
                    padding: 3px 33px 0 38px;
                    line-height: 60px;
                    transition: all 0.5s ease;
                    color: $blanc;
                    @media screen and (max-width:$screen-md) {
                        background-color: rgba($color: $bleu, $alpha: 0.6);
                    }
                    button {
                        pointer-events: none;
                        font-size: 18px;
                        font-family: $font;
                    }
                    &:hover {
                        background-color: rgba($color: $bleu, $alpha: 0.6);
                    }

                    a:hover {
                        opacity: 0.5;
                    }
                }

                a + a li {
                    border-top: 1px solid $blanc;
                }
            }
            .icon-triangle {
                transition: all 0.3s ease;
            }

            &.open {
                a.toggle {
                    transition-delay: 0s;
                }

                ul.dropdown {
                    border-color: $blanc;
                    max-height: 400vh;
                    transition: all 0.5s ease 0s;

                    li {
                        max-height: 60px;
                        transition-delay: 0s;
                    }
                }
                .icon-triangle {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    .section1 {
        position: relative;
        padding: vw(200px) 0 vw(320px);
        background-color: $ciel;
        @media screen and (max-width: $screen-md) {
            padding: 60px 0;
        }
        .h1 {
            margin-bottom: vw(93px);
            @media screen and (max-width: $screen-md) {
                margin-bottom: 34px;
            }
        }
        img {
            width: 100%;
            @media screen and (max-width: $screen-md) {
                margin-bottom: 34px;
            }
        }
        .p1 {
            margin: 0 0 vw(141px);
            padding-right: vw(130px);
            @media screen and (max-width: $screen-md) {
                margin-bottom: 55px;
            }
        }
        .flex {
            margin-top: 30px;
            align-items: end;
            justify-content: space-between;
            @media screen and (max-width: $screen-md) {
                flex-direction: column;
                margin-top: 0;
            }
            img {
                width: vw(360px);
                @media screen and (max-width: $screen-md) {
                    width: 50%;
                }
            }
            p {
                width: vw(300px);
                @media screen and (max-width: $screen-md) {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
        figure {
            position: relative;
            img {
                z-index: 1;
                position: relative;
            }
        }
        .logomark {
            @media screen and (min-width: $screen-md) {
                display: none;
            }
            width: 100vw;
            aspect-ratio: 1;
            position: absolute;
            left: 0;
            z-index: 0;
            bottom: 0;
            transform: translateX(calc(-50% - 30px)) translateY(50%);
        }
    }
    .section2 {
        background-color: $ciel;
        .h1 {
            margin-bottom: vw(90px);
            @media screen and (max-width: $screen-md) {
                margin-bottom: 34px;
            }
        }
        .logomark {
            img {
                width: vw(994px);
                @media screen and (max-width: $screen-md) {
                    width: 360px;
                }
            }
            position: absolute;
            &:nth-child(1) {
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
                @media screen and (max-width: $screen-md) {
                    display: none;
                }
            }
            &:nth-child(2) {
                bottom: 0;
                left: 0;
                transform: translate(-50%, 50%);
                @media screen and (max-width: $screen-md) {
                    left: unset;
                    right: 0;
                    transform: translate(50%, 50%);
                }
            }
        }
        .mySwiper {
            position: relative;
        }
        .swiper {
            position: relative;
            &-slide {
                position: relative;
                padding: vw(30px) vw(47px);
                aspect-ratio: 480 / 700;
                @media screen and (max-width: $screen-md) {
                    padding: 16px 30px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }
    }
    .section3 {
        background-color: $ciel;
        padding: vw(200px) 0 vw(300px);
        @media screen and (max-width: $screen-md) {
            padding: 50px 0 175px;
        }
        .h1 {
            margin-bottom: vw(70px);
            @media screen and (max-width: $screen-md) {
                margin-bottom: 30px;
            }
        }
        img {
            width: 100%;
            @media screen and (max-width: $screen-md) {
                margin-top: 40px;
            }
        }
        .grid-container {
            &:nth-child(3) {
                margin-top: -9.375vw;
                align-items: end;
                @media screen and (max-width: $screen-md) {
                    margin-top: 0;
                    p {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
    .section4 {
        background-color: $sombre;
        padding: 125px 0 vw(135px);
        position: relative;
        @media screen and (max-width: $screen-md) {
            padding: 100px 0 70px;
        }
        .logomark {
            background-color: $sombre;
            border-radius: 100vmax;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 180px;
            @media screen and (max-width: $screen-md) {
                width: 154px;
                height: 154px;
            }
            img {
                position: absolute;
                width: 112px;
                height: 112px;
                @media screen and (max-width: $screen-md) {
                    width: 95px;
                    height: 95px;
                }
                &:nth-child(1) {
                    width: 57px;
                    height: 57px;
                    @media screen and (max-width: $screen-md) {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .paragraphe1 {
            @include fluid-text(15px, 25px, 1.56, 991px, 1920px);
            text-align: center;
            @media screen and (max-width: $screen-md) {
                font-size: 20px;
            }
        }
        .bloc {
            background-color: $bleu;
            border-radius: 20px;
            padding: vw(65px);
            display: flex;
            align-items: center;
            gap: vw(65px);
            margin-top: vw(100px);
            @media screen and (max-width: $screen-md) {
                margin-top: 50px;
                gap: 40px;
                flex-direction: column;
                align-items: center;
                padding: 50px 30px;
                p {
                    text-align: center;
                }
            }
            img {
                width: vw(157px);
                @media screen and (max-width: $screen-md) {
                    width: 157px;
                }
            }
        }
    }
    .section5 {
        background-color: $ciel;
        padding: vw(150px) 0 vw(180px);
        @media screen and (max-width: $screen-md) {
            padding: 40px 0 75px;
        }
        .h1 {
            margin-bottom: vw(70px);
            @media screen and (max-width: $screen-md) {
                margin-bottom: 30px;
            }
        }
        &_flex {
            display: flex;
            flex-wrap: wrap;
            column-gap: vw(110px);
            row-gap: vw(40px);
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: $screen-md) {
                gap: 0;
                row-gap: 14px;
            }
            img {
                width: vw(168px);
                @media screen and (max-width: $screen-md) {
                    width: calc(50% - 5px);
                }
            }
        }
    }
}
