.contact {
    .p-header {
        display : none;
    }
    .p-nav {
        &.masked {
            background-color: $sombre;
        }
    }

    .contact{
        position : relative;
        padding : 20.6vh 0;

        .logomark {
            position: absolute;
            z-index: 1;
            right: -18.85vw;
            top : -18.85vw;
            width: vw(724px);
            opacity: 0;
            animation: opacity 1s ease .8s forwards;
            img {
                width: 100%;
            }
            @media screen and (max-width:$screen-md) {
                display: none;
            }
        }

        .grid-container{
            @media screen and (max-width:$screen-md) {
                padding : 0;
            }
        }

        &_title{
            display : flex;
            flex-direction: column;
            gap : 2.7vh;
            margin-bottom : 4.6vh;
            @media screen and (max-width:$screen-md) {
                padding : 0 30px;
            }

            .h1{
                opacity : 0;
                animation : trans-opacity-top-100 .7s ease forwards;
            }

            p{
                opacity : 0;
                color : $sombre;
                animation : trans-opacity-top-100 .7s ease .5s forwards;
            }
        }

        &_montage{
            @media screen and (max-width:$screen-md) {
                display : flex;
                flex-direction: column;
                gap : 7.8vh;
            }
        }

        &_carte-postale{
            position : relative;
            transform : rotate(-4deg);
            opacity : 0;
            animation : opacity 2s ease forwards;
            z-index : 5;

            img{
                width : 100%;
                height : auto;
                @media screen and (max-width:$screen-md) {
                    width : 105vw;
                    transform : translateX(-2.5vw)
                }

                &.surplus{
                    position : absolute;
                    top : 0;
                    left : 0;
                    opacity : 0;
                    z-index : 7;
                }

                &.visible{
                    opacity : 1;
                }
            }
        }

        &_choix{
            display : flex;
            flex-direction: column;
            justify-content: center;
            gap : 3.2vh;
            height : 100%;
            @media screen and (max-width:$screen-md) {
                gap : 4vh;
                padding : 0 30px 16.5vh 30px;
            }

            .h2{
                color : $bleu;
                opacity : 0;
                animation : trans-opacity-left-100 .7s ease 1.3s forwards;
            }

            &-list{
                display : flex;
                flex-direction: column;
                gap : 1.8vh;
                opacity : 0;
                animation : trans-opacity-left-100 .7s ease 1.7s forwards;
                @media screen and (max-width:$screen-md) {
                    gap : 2vh;
                }

                .form-radio {
                    position: relative;
                    display : flex;
                    gap : calc(24px + 15px);
                    @media screen and (max-width:$screen-lg) {
                        gap : calc(20px + 15px)
                    }
        
                    input{
                        appearance: none;
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
        
                    label {
                        display: inline-block;
                        @include fluid-text(16px, 16px, 1.56, 991px, 1920px);
                        font-family: $font;
                        font-weight: $regular;
                        color: $sombre;
                        cursor: pointer;
                        margin: 0;
        
                        &:after {
                            display: block;
                            content: '';
                            width: 24px;
                            height: 24px;
                            border: solid 2px $sombre;
                            background-color: $blanc;
                            border-radius : 100%;
                            position: absolute; 
                            left: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            z-index: 1;
                            transition: all .2s ease;
                            @media screen and (max-width:$screen-lg) {
                                width: 20px;
                                height: 20px;
                            }
                        }
        
                        &:before {
                            display: block;
                            content: '';
                            width: 12px;
                            height: 12px;
                            background: $bleu;
                            border-radius : 100%;
                            position: absolute;
                            left: 8px;
                            top: 0;
                            bottom: 0;
                            z-index: 2;
                            margin: auto;
                            transition: all .2s ease;
                            opacity: 0;
                            @media screen and (max-width:$screen-lg) {
                                left : 6px;
                            }
                        }
                    }
        
                    input:checked+label,
                    input:checked+label {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}