.voyage {
    .p-header {
        background-color: $sombre;
        overflow: hidden;
        @media screen and (max-width: $screen-md) {
            max-height: 570px;
        }
        &_bg {
            background-image: url("../img/voyage/voyage.png");
            background-size: contain;
            background-position: bottom;
            opacity: 1;
            transform : translateY(50%) scale(0);
            transform-origin : bottom;
            will-change : transform;
            animation : scaleEarth 2s ease .2s forwards;
            @media screen and (max-width:$screen-md) {
                background-image: url("../img/voyage/voyage-mobile.png");
            }
            &::after {
                display: none;
            }
        }
        &_titre {
            text-align: center;
            padding-bottom: 20vw;
            .h2 {
                margin-top: 27px;
            }
        }
    }
    .section1 {
        padding: vw(200px) 0 vw(280px);
        @media screen and (max-width:$screen-md) {
            padding: 60px 0 80px;
            .right {
                text-align: left;
            }
        }
        .h1 {
            margin-bottom: vw(156px);
        }
        img {
            width: 100%;
            @media screen and (max-width:$screen-md) {
                &.half {
                    width: 50%;
                }
            }
        }
        .grid-container {
            &:nth-child(2) {
                margin-bottom: 30px;
                @media screen and (max-width:$screen-md) {
                    margin-top: 34px;
                    align-items: end;
                    display: flex;
                    flex-direction: column;
                    gap: 34px;
                    text-align: right;
                }
            }
            &:nth-child(3) {
                align-items: end;
                @media screen and (max-width:$screen-md) {
                    margin-top: 34px;
                    img {
                        margin-bottom: 34px;
                    }
                }
            }
        }
        .image2 {
            @media screen and (min-width:$screen-md) {
                position: absolute;
                bottom: 0;
                transform: translateY(50%);
            }
        }
    }
    .section2 {
        padding-bottom: vw(210px);
        display: grid;
        grid-template-columns: 12fr 9fr 12fr;
        @media screen and (max-width:$screen-md) {
            padding-bottom: 80px;
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        @media screen and (min-width:$screen-md) {
            .simple-container {
                display: none;
            }
        }
        .bloc {
            background-color: $sombre;
            padding: vw(80px) vw(160px);
            z-index: 1;
            @media screen and (max-width:$screen-md) {
                padding: 40px 30px;
                width: calc(100vw - 30px);
                transform: none!important;
            }
            &:nth-child(2) {
                border-radius: 0 30px 30px 0;
                transform: translateX(12vw);
                position: relative;
                @media screen and (max-width:$screen-md) {
                    margin-right: auto;
                    order: 1;
                }
                &::after {
                    content: '';
                    background-color: $sombre;
                    width: calc(12vw + 1px);
                    height: 100%;
                    position: absolute;
                    right: calc(100% - 1px);
                    top: 0;
                }
            }
            &:nth-child(4) {
                border-radius: 30px 0 0 30px;
                transform: translateX(-12vw);
                position: relative;
                @media screen and (max-width:$screen-md) {
                    margin-left: auto;
                    order: 2;
                }
                &::after {
                    content: '';
                    background-color: $sombre;
                    width: calc(12vw + 1px);
                    height: 100%;
                    position: absolute;
                    left: calc(100% - 1px);
                    top: 0;
                }
            }
            .h2 {
                margin-bottom: vw(32px);
                @media screen and (max-width:$screen-md) {
                    margin-bottom: 30px;
                }
            }
        }
        .bloc-middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 vw(75px);
            text-align: center;
            z-index: 0;
            @media screen and (max-width:$screen-md) {
                order: 3;
            }
            p {
                font-size: 16px;
                margin: vw(70px) 0 vw(85px);
                text-align: center;
                @media screen and (max-width:$screen-md) {
                    padding: 0 0 30px;
                }
            }
            .bouton {
                background-color: $bleu;
                border: none;
                &:hover {
                    background-color: $blanc;
                }
            }
        }
    }
    .img-full {
        width: 100vw;
        aspect-ratio: 1920 / 983;
        object-fit: cover;
        object-position: center;
        @media screen and (max-width:$screen-md) {
            aspect-ratio: 390 / 296;
        }
    }
    .section3 {
        position: relative;
        z-index: 1;
        background-color: $sombre;
        padding: vw(180px) 0 vw(260px);
        @media screen and (max-width:$screen-md) {
            padding: 60px 0 90px;
            * {
                text-align: center;
            }
        }
        .h1 {
            margin-bottom: vw(170px);
            @media screen and (max-width:$screen-md) {
                margin-bottom: 60px;
            }
        }
        &-flex {
            display: flex;
            gap: vw(135px);
            @media screen and (max-width:$screen-md) {
                gap: 90px;
                align-items: center;
                flex-direction: column;
            }
            .item {
                display: flex;
                flex-direction: column;
                @media screen and (max-width:$screen-lg) {
                    align-items: center;
                }
                .h2 {
                    @include fluid-text(15px, 25px, 1.15, 991px, 1920px);
                    margin: vw(50px) 0 12px;
                    @media screen and (max-width:$screen-md) {
                        margin-top: 35px;
                        @include fluid-text(15px, 25px, 1.15, 320px, 390px);
                    }
                }
                img {
                    height: vw(58px);
                    object-fit: contain;
                    object-position: left;
                    @media screen and (max-width:$screen-md) {
                        height: 60px;
                        object-position: center;
                    }
                }
            }
        }
    }
    .section4 {
        position: relative;
        z-index: 0;
        padding: vw(200px) 0;
        @media screen and (max-width: $screen-md) {
            padding: 65px 0;
        }
        .logomark {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
            img {
                width: vw(994px);
            }
            @media screen and (max-width: $screen-md) {
                top: 200px;
                right: unset;
                left: 0;
                transform: translate(-50%, 0);
                z-index: -1;
                img {
                    width: 362px;
                }
            }
        }
        .bloc {
            display: grid;
            align-items: center;
            overflow: hidden;
            gap: 30px;
            @media screen and (max-width: $screen-md) {
                display: flex;
                flex-direction: column;
            }
            & + .bloc {
                margin-top: 30px;
            }
            &:nth-child(1) {
                @media screen and (min-width: $screen-md) {
                    grid-template-columns: 2fr 1fr;
                    width: vw(1213px);
                    img {
                        height: vw(433px);
                    }
                }
                @media screen and (max-width: $screen-md) {
                    align-items: end;
                }
            }
            &:nth-child(2) {
                @media screen and (min-width: $screen-md) {
                    grid-template-columns: 2fr 1fr;
                    width: vw(1372px);
                    margin-left: auto;
                    img {
                        height: vw(613px);
                    }
                }
            }
            &:nth-child(3) {
                @media screen and (min-width: $screen-md) {
                    grid-template-columns: 7fr 12fr;
                    width: vw(1213px);
                    img {
                        height: vw(433px);
                    }
                }
                @media screen and (max-width: $screen-md) {
                    align-items: start;
                }
            }
            img {
                width: 100%;
                object-fit: cover;
                @media screen and (max-width: $screen-md) {
                    &.half {
                        width: 50%;
                    }
                }
            }
        }
    }
}
