.pre-footer {
    background-color: $bleu;
    padding: vw(40px) 0;
    background-image: url(../img/logos/logomark-fond.svg);
    background-repeat: repeat;
    background-size: 25px;
    @media screen and (max-width:$screen-md) {
        background-size: 40px;
        padding: 40px 0 50px;
        text-align: center;
        p {
            margin: 13px 0 21px;
            text-align: center;
            font-size: 16px;
        }
    }
    .grid-container {
        align-items: center;
    }
    .col {
        text-align: right;
        @media screen and (max-width:$screen-md) {
            text-align: center;
        }
    }
    .bouton {
        border: none;
        min-width: unset;
        padding: 0 32px;
        white-space: nowrap;
        @media screen and (max-width:$screen-md) {
            height: 50px;
        }
    }
}

.p-footer {
    background-color: $sombre;
    padding: vw(75px) 0 25px;
    @media screen and (max-width: $screen-md) {
        padding: 60px 0 40px;
        text-align: center;
    }
    .logo {
        width: vw(167px);
        min-width: 120px;
        @media screen and (max-width: $screen-md) {
            width: 167px;
            margin-bottom: 66px;
        }
    }
    .social {
        display: flex;
        gap: 20px;
        justify-content: end;
        @media screen and (max-width: $screen-md) {
            margin-top: 66px;
            justify-content: center;
        }
        .item {
            width: vw(50px);
            height: vw(50px);
            background-color: $bleu;
            border-radius: 100vmax;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            @include fluid-text(13px, 22px, 1, 991px, 1920px);
            @media screen and (max-width: $screen-md) {
                font-size: 22px;
                width: 50px;
                height: 50px;
                .icon-linkedin {
                    font-size: 18px;
                }
            }
            span {
                transition: all 0.3s ease;
            }
            &:hover {
                background-color: $blanc;
                span {
                    color: $bleu !important;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        margin-top: vw(70px);
        font-size: 13px;
        @media screen and (max-width: $screen-md) {
            margin-top: 50px;
        }
    }
    a:hover {
        color: $bleu;
        p {
            color: $bleu;
        }
    }
    p {
        @include fluid-text(11px, 16px, 1.56, 991px, 1920px);
        @media screen and (max-width: $screen-md) {
            font-size: 16px;
            text-align: center;
        }
    }
}
