.p-menu {
    position: fixed;
    top: -140%;
    left: 0;
    z-index: 103;
    width: 100%;
    transition: all .4s ease .3s;
    background-color: $sombre;

    &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }

    &_nav {
        display: flex;
        flex-direction: column;
        color: $blanc;
        text-align: center;
        font-weight: $semibold;
        width: calc(100vw - 60px);
        padding-bottom: 3px;
        @include fluid-text(22px, 32px, 1.15, 320px, 390px);
        li {
            width: 100%;
            padding: 2.98vh 0;
            position: relative;
        }
        li + li {
            &::after {
                content: '';
                background-color: $bleu;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    //* Animation d'apparition des links dans le menu
    .anim-link {
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.3s ease;
    }

    //* Animation à l'ouverture du menu
    &.open {
        top: 0;
        transition: all .4s ease .2s;

        .anim-link {
            transform: translateY(0);
            opacity: 1;
            transition: all 0.3s ease;

            @for $i from 1 through 30 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.3s+$i*0.1s;
                }
            }
        }
    }
}